[submodule "modules/dbgprint"]
	path = modules/dbgprint
	url = https://github.com/ngagesdk/dbgprint.git
[submodule "modules/SDL"]
	path = modules/SDL
	url = https://github.com/ngagesdk/SDL.git
[submodule "modules/SDL-1.2"]
	path = modules/SDL-1.2
	url = https://github.com/ngagesdk/SDL-1.2.git
[submodule "modules/cwalk"]
	path = modules/cwalk
	url = https://github.com/ngagesdk/cwalk.git
[submodule "modules/cute_headers"]
	path = modules/cute_headers
	url = https://github.com/ngagesdk/cute_headers.git
[submodule "stb"]
	url = https://github.com/nothings/stb.git
[submodule "modules/stb"]
	path = modules/stb
	url = https://github.com/nothings/stb.git
